<app-header></app-header>

<style>

body{
	margin: 0px;
	padding: 0px;
	}

.about-us{
	display: inline-block;
	width:65%;
}

.goldimg{
	display: inline-block;
	margin-left: 80px;
}

img{
  margin-right: auto;
  margin-top: -350px;
  margin-left: -150px;
}

</style>

<div class="gold">
	<div class="about-us">
		<div style="cxcursive;
				font-size: 49px; color: #ea001f; margin-left: 50px;
				margin-top: 20px;">Stock Market</div>
		<div><p style="font-family: 'Baloo Bhai 2';
				font-size: 20px; color: black; margin-left: 50px;
				margin-top: 2px; margin-right: 150px;">
      Lorem ipsum dolor sit amet. A ullam sint ut asperiores ducimus sit amet exercitationem qui repudiandae consequatur aut odio amet. Et ratione doloribus nam quis internos est enim galisum vel incidunt nihil.

      Nam enim laborum qui placeat asperiores in quisquam aliquam et obcaecati fuga non maxime consequatur. Ut eaque temporibus et dolorum fugit sit consequuntur nulla. Sed quia voluptatem et maxime quam et magnam sunt voluptatem tempora est rerum sint eos voluptatem quam vel asperiores laboriosam. Est quis modi est aspernatur laborum et tempore illum ad quaerat suscipit et possimus laborum.

      Id libero similique ut consequuntur voluptas aut cupiditate maiores sed tenetur dolorum aut enim aliquid. Et quia dolore At doloribus omnis rem error amet ad omnis explicabo est Quis facilis!</p>
		</div>
	</div>
	<div class="goldimg">
		<img style="width: 500px;"src="assets/images/stock_market.jpeg">
	</div>
</div>

<app-footer></app-footer>
