<style>
    .navbar {
            background-color: rgb(255, 255, 255);
            margin-top: -30px;
        }
    .navbar-nav > li{
            padding-left:10px;
            padding-right:10px;
        }
    .navbar-nav > li{
            margin-left:20px;
            margin-right:20px;
        }
    nav .navbar-nav li a{
            color: brown;
        }
    .nav-brand img{
            padding-left: 50px;
            padding-right: 50px;
            width: 300px;
            height: 150px;
    }

    /* .navbar-nav li ul{
        display: none;
    }

    .navbar-nav li :hover>li{
        display: block;
    } */

    .logout img {
        width: 60px;
        height: 50px;
        padding-left: 10px;
        margin-top: -3px;
    }

    .col {
        margin-top: 7px;
    }

</style>


<!-- <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="nav-brand"><img src="assets/images/logo.png"></a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Import Data</a>
            </li>
            <li class="nav-item">
                Manage Company
                <ul>
                    <li>
                        <a class="nav-link"> List Companies</a>
                    </li>
                    <li>
                        <a class="nav-link"> Create Company</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                Manage Exchange
                <ul>
                    <li>
                        <a class="nav-link"> List Stock Exchanges</a>
                    </li>
                    <li>
                        <a class="nav-link"> Register New Exchange</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link">Update IPO details</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <a class="nav-brand"><img src="assets/images/logo.png"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Import Data</a>
          </li>
        <li class="nav-item dropdown">
            <div class="col">
                <div ngbDropdown class="nav-item-dropdpwn">
                  <a class="nav-link-dropdown-toggle" href="#" id="1" ngbDropdownToggle style="text-decoration: none;">Manage Companies</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a ngbDropdownItem>Add company</a>
                    <a ngbDropdownItem>List all companies</a>
                    <a ngbDropdownItem>Update Company</a>
                  </div>
              </div>
          </div>
        </li>
        <li class="nav-item dropdown">
            <div class="col">
                <div ngbDropdown class="nav-item-dropdpwn">
                  <a class="nav-link-dropdown-toggle" href="#" id="2" ngbDropdownToggle style="text-decoration: none;">Manage Exchanges</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a ngbDropdownItem>List Stock Exchanges</a>
                    <a ngbDropdownItem>Register New Exchange</a>
                  </div>
              </div>
          </div>
          </li>
          <li class="nav-item active">
            <div class="col">
                <div ngbDropdown class="nav-item-dropdpwn">
                  <a class="nav-link-dropdown-toggle" href="#" id="3" ngbDropdownToggle style="text-decoration: none;">Update IPO details</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a ngbDropdownItem>Add IPO details</a>
                    <a ngbDropdownItem>Update IPO details</a>
                  </div>
              </div>
          </div>
          </li>
          <li class="nav-item active">
            <a class="logout" href="#"><img src="assets/images/logout.png"></a>
          </li>
      </ul>
    </div>
  </nav>

    <script> src="js/jquery-1.11.2.min.js"</script>
    <script> src="js/bootstrap.min.js"  </script>
